/*页面整体布局*/
*{
          padding: 0;
          margin: 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-decoration: none!important;
}

.div{
          display: block;
}
body {
          line-height: 30px;
          font-size: 14px;
          height: 1775px;
          background-color: #ffffff;
}
.header{
          width: 100%;
          height: 120px;
}
.content{
          width: 75%;
          height: 80%;
          font-size: 12px;
          margin: 35px auto 0;
          /*background-color: #5bffcf;*/
}
.footer{
          color: #999;
          height: 10%;
          padding: 20px 0;
          border-top: 0px solid #e8e8e8;
}


/*头部导航布局*/

.first-div{
    margin-top: 10px;
    background-color: darkorange;
    height: 40px;
}
.first-div div,.second-div div {
    color: #ffffff;
    height: 40px;
    border: none;
}

.top-text{
    font-size: 24px;
}

/* 下拉按钮样式 */
.dropbtn {
    backgopxd-color: orange;
    width:180px;
    color: white;
    padding: 7px;
    font-size: 20px;
    border: none;
    text-align: center;
    margin-left: 50px;
}

.dropbtn span{
    text-align: center;
    position: relative;
    top: 0px;
}
.message {
    text-decoration: none;
    text-align: center;
    color: white;
}
/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    z-index: 5;
    display: none;
    position: absolute;
    min-width: 180px;
    margin-left: 50px;


}

/* 下拉菜单的链接 */
.dropdown-content a {
    text-align: center;
    color: black;
    padding: 7px 7px;
    text-decoration: none;
    display: block;
    background: #fff;
    width: 180px;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    width: 180px;

}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background-color: orange;
}

.col-md-2  p{
    text-align: center;
    line-height: 0px;
    font-size: 20px;
}


.top-second .logo{
    margin-left: 80px;
}

.top-second .first-text{
    margin-left: 175px;
}

.top-second span{
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.top-second .top-down{
    height: 1px;
    background-color: #dcdcdc;
    width: 100%;
}

/*中间页面布局*/
/*侧面导航*/
.content .exlt{
          float: left;
          width: 140px;
          overflow: hidden;
          background-color: #fafafa;
          border-left: 1px solid #eee;
          border-bottom: 1px solid #eee;

}
.content .exlt  a{
          position: relative;
          display: block;
          height: 42px;
          line-height: 42px;
          font-weight: bold;
          color: #333;
          padding: 0 15px;
          border: 1px solid transparent;
          border-right-color: #eee;
          border-left-width: 2px;

}
.content .exlt a:first-child{
          border-top: 1px solid #eee;
}
.content .exlt a.on{
          font-weight: bold;
          color: #ff6000;
          background-color: #fff;
          border: 1px solid #eee;
          border-right-color: #fff;
          border-left: 2px solid #ff6000;
}
.content .exlt a span{
          display: block;
          height: 43px;
          cursor: pointer;

          border-bottom: 1px solid #eee;
}
/*中间部分*/
.exrt {
          float: right;

          height: 95%;
          width: 862px;
          #overflow: hidden;
          background-color: #fff;
}
.mt {
          height: 44px;
          line-height: 44px;
          color: #999;
          margin-bottom: 15px;
          border-bottom: 2px solid #efefef;
}
.mt .mt_l {
          float: left;
          font-size: 18px;
}
.mt .mt_l li {
          float: left;
          padding: 0 15px;
}
.mt .mt_l li, .mt .mt_l a {
          font-size: 18px;
          color: #999;
}
input, button, textarea {
          font-size: 14px;
          outline: 0 none;
          margin: 0;
          padding: 0;
}
.mt .mt_l .on {
          color: #333;
          border-bottom: 2px solid #ff6000;
}
.mt .mt_l .on span {
          color: #ff6000;
}
.mt .mt_l .on a {
          color: #333;
}
.mt .mt_r {
          float: right;
          font-size: 12px;
}
.mt .mt_r li {
          position: relative;
}
.mt .mt_r li {
          float: left;
          height: 45px;
          padding-left: 15px;
}
.hpBox {
          position: relative;
          font-size: 45px;
          line-height: 35px;
}
.hpBox .h_head {
          position: relative;
          height: 30px;
}
.mt .mt_r .vsm {
          background-position: 0 -50px;
}
.hpBox .h_arr {
          position: absolute;
          display: none;
          width: 21px;
          height: 10px;
          bottom: 0;
          *bottom: -12px;
          left: 38px;
          vertical-align: middle;
          background: url(//img01.51jobcdn.com/im/2016/form/hp_arr.png) no-repeat;
}
.hpBox .h_body {
          position: absolute;
          display: none;
          width: 458px;
          line-height: 20px;
          top: 26px;
          *top: 38px;
          right: -4px;
          z-index: 5;
}
.hpBox .h_top, .hpBox .h_btm {
          width: 100%;
          height: 8px;
          background: url(//img01.51jobcdn.com/im/2016/form/hp_top.png) repeat-x;
}
.hpBox .h_box {
          position: relative;
          width: 458px;
          font-size: 12px;
          color: #666;
          background: url(//img01.51jobcdn.com/im/2016/form/hp_con.png) repeat-y;
}
.hpBox .h_con {
          padding: 8px 20px;
}
p {
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
}
.hpBox .c label {
          float: left;
          font-weight: bold;
}
.hpBox .c {
          min-height: 20px;
          margin-top: 10px;
}
label {
          cursor: default;
}
.exrt .a {
          font-size: 12px;
}
.a:link, .a:active, .a:visited {
          color: #00457d;
}
.r {
          float: right;
}
.a {
          cursor: pointer;
          color: #00457d;
}
.hpBox .h_btm {
          background-image: url(//img01.51jobcdn.com/im/2016/form/hp_btm.png);
}
.hpBox .h_top, .hpBox .h_btm {
          width: 100%;
          height: 8px;
          background: url(//img01.51jobcdn.com/im/2016/form/hp_top.png) repeat-x;
}
.myStates {
          height: 38px;
          line-height: 38px;
          margin-bottom: 15px;
          background-color: #FAFAFA;
}
.myStates .on, .myStates .on:hover {
          color: #fff;
          background-color: #FF9F20;
}
.myStates a {
          float: left;
          width: 90px;
          font-size: 14px;
          color: #999;
          text-align: center;
          -webkit-border-radius: 4px 4px 0 0;
          -moz-border-radius: 4px 4px 0 0;
          -o-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
.layui-tab {
          margin: 10px 0;
         text-align: left!important;
}
.exrt .exmsg {
          display: none;
}
.apox .e:first-child {
          margin-top: 0;
}
.apox .e {
          height: 92px;
          margin-top: 10px;
          padding: 15px 20px;
          background-color: #fff;
          border: 1px solid #eee;
}
.apox .e .l1 {
          width: 302px;
}
.apox .e .li {
          float: left;
          line-height: 30px;
}
.apox .e .zhn {
          float: left;
          max-width: 160px;
          font-size: 16px;
          color: #333;
}
.apox .e .zhn, .apox .e .xz, .apox .e .gs, .apox .e .dq, .apox .e .jl {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
}
.layui-tab-card {
          width: 100%;
          height: 60%;
          border-width: 1px;
          border-style: solid;
          border-radius: 2px;
          box-shadow: 13 16px 18px 0 rgba(0,0,0,.1);
}
.apox .e .l1 {
          width: 302px;
}
.apox .e .li {
          float: left;
          line-height: 25px;
}
.apox .e .zhn {
          float: left;
          max-width: 160px;
          font-size: 16px;
          color: #333;
}
.apox .e .xz {
          float: left;
          max-width: 91px;
          font-size: 16px;
          color: #ff6000;
          margin-left: 10px;
}
.apox .e .gs, .apox .e .dq {
          float: left;
          max-width: 168px;
          color: #666;
}
.apox .e .dq {
          max-width: 112px;
          height: 20px;
          line-height: 20px;
          margin: 5px 0 5px 10px;
          padding-left: 10px;
          border-left: 1px solid #ddd;
}
.apox .e .l2 {
          width: 220px;
          text-align: center;
          padding: 0 18px 0 37px;
          border-right: 1px solid #ddd;
}
.apox .e .li {
          float: left;
          line-height: 30px;
}
.apox .e .rq {
          color: #666;
}
label {
          cursor: default;
}
.apox .e .jl {
          font-size: 12px;
          color: #999;
}
.apox .e .jl {
          font-size: 12px;
          color: #999;
}
.apox .e .l3 {
          width: 138px;
          margin: 0 4px 0 25px;
}
.apox .e .l4 {
          width: 111px;
}
.apox .e:first-child {
          margin-top: 0;
}
.dw_page {
          position: relative;
          height: 30px;
          line-height: 30px;
          color: #666;
          overflow: hidden;
          padding: 15px 0 30px;
}
.dw_page .p_box {
          position: absolute;
          width: 200%;
          left: -50%;
}
.dw_page .p_wp {
          position: absolute;
          margin-left: 50%;
}
.dw_page .p_in {
          position: relative;
          float: left;
          left: -50%;
}
.dw_page ul {
          height: 30px;
}
.dw_page ul, .dw_page .td, .dw_page .mytxt, .dw_page .og_but {
          float: left;
          font-size: 14px;
}
.dw_page li.bk, .dw_page li.bk a {
          width: 64px;
}
.dw_page li {
          float: left;
          width: 30px;
          height: 30px;
          line-height: 30px;
          font-size: 12px;
          text-align: center;
          margin-right: 10px;
          background-color: #FFF;
}
.dw_page li.bk span {
          display: block;
          color: #BBB;
          font-size: 12px;
          border: 1px solid #DDD;
}
.dw_page li.on {
          color: #FF6000;
          border-color: transparent;
}
.dw_page .mytxt {
          width: 28px;
          height: 28px;
          font: 12px/28px "Microsoft YaHei";
          color: #333;
          text-align: center;
          margin: 0 5px;
          border: 1px solid #DDD;
}
.dw_page .og_but {
          width: 45px;
          height: 30px;
          line-height: 30px;
          color: #666;
          text-align: center;
          cursor: pointer;
          margin-left: 10px;
          background-color: #FFF;
          border: 1px solid #DDD;
}
.apox{
          width: 100%;
          height: 800px;
}
.layui-tab-content{
          height: 80%;
          width: 100%;
}
.btn-default {
          text-shadow: 0 1px 0 #fff;
          background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
          background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
          background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
          background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
          background-repeat: repeat-x;
          border-color: #dbdbdb;
          border-color: #ccc;
}
.btn {
          display: inline-block;
          padding: 0px 5px;
          margin-bottom: 0;
          font-size: 12px;
          font-weight: normal;
          line-height: 1.428571;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          -ms-touch-action: manipulation;
          touch-action: manipulation;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-image: none;
          border: 0px solid transparent;
          border-radius: 4px;
}


/*底层导航====================================*/

.footer{
          width: 100%;


}
.bottom{
          width: 85%;
          margin: 0 auto;

}
.bottom1{
          height: 120px;
          width: 20%;
          background-color:  #ffffff;
          float: left;
}

.bottom1 li{
          list-style: none;
          margin-top: 5px;
          margin-left: 108px;
}

.bottom1 p{
          float: right;
          margin-left: 0px;
          margin-top: 8px;
}

.bottom2{
          height: 120px;
          width: 15%;
          background-color: #ffffff;
          float: left;

}

.bottom2 li{
          list-style: none;
          margin-top: 5px;
          margin-left: 30px;
}

.bottom3{
          height: 120px;
          width: 15%;
          background-color: #ffffff;
          float: left;

}

.bottom3 li{
          list-style: none;
          margin-top: 8px;
          margin-left: 30px;
}

.bottom4{
          height: 120px;
          width: 15%;
          background-color: #ffffff;
          float: left;

}

.bottom4 li{
          list-style: none;
          margin-top: 8px;
          margin-left: 30px;
}

.bottom5{
          height: 120px;
          width: 15%;
          background-color: #ffffff;
          float: left;

}

.bottom5 li{
          list-style: none;
          margin-top: 5px;
          margin-left: 30px;
}

.bottom6{
          height: 120px;
          width: 20%;
          background-color:  #ffffff;
          float: left;

}

.bottom6 img{
          width: 100px;
          height:100px;
}

.bottom6 p{
          margin-left: 30px;
}